version: '3.9'

services:
  api:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    container_name: khoshgolpo_api
    env_file: .env
    ports:
      - '4000:4000'
    depends_on:
      - mongo
      - redis
    command: ['node', 'dist/main.js']

  moderation-worker:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    container_name: khoshgolpo_moderation_worker
    env_file: .env
    depends_on:
      - mongo
      - redis
    command: ['node', 'dist/ai/ai.worker.service.js']

  notification-worker:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    container_name: khoshgolpo_notification_worker
    env_file: .env
    depends_on:
      - mongo
      - redis
    command: ['node', 'dist/notifications/notifications.worker.service.js']

  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    restart: unless-stopped
    command: ['redis-server', '--appendonly', 'yes', '--maxmemory-policy', 'noeviction']
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:

